# Local .terraform directories
**terraform-jenkins-aws/.terraform/*

# .tfstate files
terraform-jenkins-aws/terraform.tfstate
terraform-jenkins-aws/terraform.tfstate.backup
**terraform-jenkins-aws/.tfstate
**terraform-jenkins-aws/.tfstate.*

# Crash log files
terraform-jenkins-aws/crash.log
terraform-jenkins-aws/crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json
**/vars/*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
terraform-jenkins-aws/override.tf
terraform-jenkins-aws/override.tf.json
*terraform-jenkins-aws/_override.tf
*terraform-jenkins-aws/_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
terraform-jenkins-aws/.terraformrc
terraform-jenkins-aws/terraform.rc

terraform-jenkins-aws/jenkinsseckey.ppk